@font-face {
    font-family: 'Montserat Regular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserat Regular SemiBold';
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserat Medium';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
